<% provide(:title, 'Home') %>
<h2>Welcome to the Super Funtime Pool Finder!</h2>

<p>Greetings fellow pool lurkers! Find some pools to shred by clicking "Find me some pools!" above. If you have recently skated a pool and would like to share, kindly click "I skated me a pool!" and tell us about it.</p>
