<% provide(:title, 'Home') %>
<h1>Welcome to the Super Funtime Pool Finder!</h1>

<p>Greetings fellow pool lurkers! Find some pools to shred by clicking <b>FIND ME SOME POOLS</b> above. If you have recently skated a pool and would like to share, kindly click <b>I SKATED A POOL</b> and tell us about it.</p>
